<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwagain.system.order.mapper.OmOrderUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.hwagain.system.order.entity.OmOrderUser">
		<id column="fd_id" property="fdId" />
		<result column="user_id" property="userId" />
		<result column="phone" property="phone" />
		<result column="ps_user_id" property="psUserId" />
		<result column="user_code" property="userCode" />
		<result column="user_name" property="userName" />
		<result column="dept_id" property="deptId" />
		<result column="dept_name" property="deptName" />
		<result column="workship_id" property="workshipId" />
		<result column="workship" property="workship" />
		<result column="position_id" property="positionId" />
		<result column="position" property="position" />
	</resultMap>

</mapper>
